@{
    ViewBag.Title = "SEOMIZ";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
@*                To learn more about ASP.NET MVC visit
                <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
                The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET MVC.
                If you have any questions about ASP.NET MVC visit
                <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.*@
            </p>
        </div>
    </section>
}
<h3>You can the following tools:</h3>
<ol class="round">
    <li class="one">
        <h5>Search Engine Position Tracker</h5>
        This tool tracks your position in Google, Bing and Yahoo! Just provide your domain name and a phrase/keyword by which you want to check your position.
        Our tool will scan first 1000 search results by each engine and will return your position.
        @Html.ActionLink("Learn more…", "KwPosition");                
    </li>

    <li class="two">
        <h5>Plagiarism Checker</h5>
        Check your texts for plagiarism.        
        @Html.ActionLink("Learn more…", "PlagiarismChecker");                
    </li>

    <li class="three">
        <h5>Google Page Rank Checker</h5>
        You can easily check Google Page Rank with our Page Rank Checker
         @Html.ActionLink("Learn more…", "GooglePageRankChecker");          
    </li>
</ol>
